<!-- PAGE CONTENT : begin -->
<div id="page-content">


	<div class="c-content-box" style="width:950px;">
		<div class="page-content-inner">
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div id="page-header">

									<!-- PAGE TITLE : begin -->
									<div class="page-title"><h1>Dodajte novi akt</h1></div>
									<!-- PAGE TITLE : end -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="c-content-box m-forced">
								<h2>Ubacite podatke akta</h2>
								
								<form method="post" action="#" class="bbp-login-form">
									<fieldset class="bbp-form">
									
										<div class="bbp-username">
											
											<input type="text" name="log" placeholder="Naziv akta" size="20" id="user_login" tabindex="101" />
										</div>
										
										<div class="bbp-username" >
											<label for="user_login">Sluzbeni list: </label>
											<div style="border: 1px solid #333; height: 65px; padding: 1% 0 1% 3.9%">
												<input type="text" name="log" style="width: 200px" placeholder="Broj lista" size="20" />
												<input type="text" name="log" style="width: 200px" placeholder="Cena" size="20" />
												<input type="text" name="log" style="width: 200px" placeholder="Mesto" size="20" />
												<input type="text" name="log" style="width: 200px" placeholder="Datum" size="20" />
											</div>
										</div>
										
										<div class="bbp-username" style="float:left">
											<label for="user_login">Propisi: </label>
											<div style="border: 1px solid #333; width: 890px; padding: 1% 0 1% 3.9%">
												<input type="text" name="log" style="width: 810px" placeholder="Preambula" size="20" />
												<input type="text" name="log" style="width: 810px; margin-top: 1%;" placeholder="Naziv propisa" size="20" />
												
												<label for="user_login" style="margin-top: 1%">UvodniDeo: </label>
												<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 3.9%">
													<label for="user_login" style="margin-top: 1%">Glava: </label>
													<div style="border: 1px solid #333; width: 740px; padding: 1% 0 1% 3.9%">
														<input type="text" name="log" style="width: 330px" placeholder="Naslov glave" size="20" />
														<input type="text" name="log" style="width: 330px;" placeholder="Broj glave" size="20" />
														<input type="text" name="log" style="width: 665px; margin-top: 1%;" placeholder="Podnaslov glave" size="20" />
														<label for="user_login" style="margin-top: 1%">Clan: </label>
														
														<div style="border: 1px solid #333; width: 665px; padding: 1% 0 1% 3.9%">
															<input type="text" name="log" style="width: 300px" placeholder="Naslov Clana" size="20" />
															<input type="text" name="log" style="width: 300px;" placeholder="Broj Clana" size="20" />
															<input type="text" name="log" style="width: 605px; height: 300px; margin-top: 1%" placeholder="Opis" size="20" />
														</div>
													</div>
												</div>
												
											</div>
										</div>
										
										
										
										


										<div class="bbp-submit-wrapper">

											<button type="submit" tabindex="104" name="user-submit" class="button submit user-submit">Sacuvaj</button>

										</div>
									</fieldset>
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PAGE CONTENT : end -->