<!-- PAGE CONTENT : begin -->
<div id="page-content">


	<div class="c-content-box" style="width:950px;">
		<div class="page-content-inner">
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div id="page-header">

									<!-- PAGE TITLE : begin -->
									<div class="page-title"><h1>Dodajte novi akt</h1></div>
									<!-- PAGE TITLE : end -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="c-content-box m-forced" ng-controller="AddActCtrl">
								<h2>Ubacite podatke akta</h2>
								
								<form >
									<fieldset class="bbp-form">
									
										<div class="bbp-username">
											
											<input type="text" name="log" ng-model="act.naziv" placeholder="Naziv akta" size="20" id="user_login" tabindex="101" />
										</div>
										
										<div class="bbp-username" style="margin: 2% 0 2% 0">
											<label for="user_login">Sluzbeni list: </label>
											<div style="border: 1px solid #333; height: 65px; padding: 1% 0 1% 3.9%">
												<input type="text" name="log" ng-model="act.broj" style="width: 200px" placeholder="Broj lista" size="20" />
												<input type="text" name="log" ng-model="act.cena" style="width: 200px" placeholder="Cena" size="20" />
												<input type="text" name="log" ng-model="act.mesto" style="width: 200px" placeholder="Mesto" size="20" />
												<input type="text" name="log" ng-model="act.datum" style="width: 200px" placeholder="Datum" size="20" />
											</div>
										</div>
										
										<!--<div ng-repeat="a in act.article">-->
										<div style="margin: 2% 0 0 0">
											<div id="choicesDisplay"></div>
										
											<fieldset data-ng-repeat="choice in choices">
												
												<div class="bbp-username" style="float:left">
													<label for="user_login">Propis: </label>
													<div style="border-top: 1px solid #333; border-bottom: 1px solid #333; width: 890px; padding: 1% 0 1% 3.9%">
														<input type="text" name="log" ng-model="choice.preambula" style="width: 810px" placeholder="Preambula" size="20" />
														<input type="text" name="log" ng-model="choice.namePropisa" style="width: 810px; margin-top: 1%;" placeholder="Naziv propisa" size="20" />
														
														<div style="margin: 5% 0 0 0">
															<label for="user_login" style="text-align: center;">Uvodni deo: </label>
															<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 1%">
																<input type="text" ng-model="act.uvod.naslov" style="width: 450px" placeholder="Naslov glave" size="20" />
																<input type="text" name="log" ng-model="act.uvod.podnaslov" style="width: 340px;" placeholder="Podnaslov glave" size="20" />
																
																<fieldset data-ng-repeat="clan in choices.clanoviU">
																	<label for="user_login" style="margin-top: 1%">Clan: </label>
																	<div style="border-top: 1px solid #333; border-bottom: 1px solid #333; width: 790px; padding: 1% 0 1% 0">
																		<input type="text" name="log" ng-model="clan.naziv" style="width: 790px" placeholder="Naslov Clana" size="20" />
																		<textarea  style="width: 790px; margin: 1% 0 0 0" ng-model="clan.opis" name="opis" placeholder="Opis"></textarea>
																	</div>
																</fieldset>
																<button ng-click="addNewClan()">Novi clan</button>
															</div>
														</div>
														
														<div style="margin: 5% 0 0 0">
															<label for="user_login" style="text-align: center;">Glavni deo: </label>
															<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 1%">
																<input type="text" name="log" ng-model="act.glavni.naslov" style="width: 450px" placeholder="Naslov glave" size="20" />
																<input type="text" name="log" ng-model="act.glavni.podnaslov" style="width: 340px;" placeholder="Podnaslov glave" size="20" />
																
																<fieldset data-ng-repeat="clan in choices.clanoviG">
																	<label for="user_login" style="margin-top: 1%">Clan: </label>
																	<div style="border-top: 1px solid #333; border-bottom: 1px solid #333; width: 790px; padding: 1% 0 1% 0">
																		<input type="text" name="log" ng-model="clan.naziv" style="width: 790px" placeholder="Naslov Clana" size="20" />
																		<textarea  style="width: 790px; margin: 1% 0 0 0" ng-model="clan.opis" name="opis" placeholder="Opis"></textarea>
																	</div>
																</fieldset>
																<button class="button submit user-submit" ng-click="addNewClanG()">Novi clan</button>
															</div>
														</div>
														
														<div style="margin: 5% 0 0 0">
															<label for="user_login" style="text-align: center;">Zavrsni deo: </label>
															<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 1%">
																<input type="text" name="log" ng-model="act.zavrsni.naslov" style="width: 450px" placeholder="Naslov glave" size="20" />
																<input type="text" name="log" ng-model="act.zavrsni.podnaslov" style="width: 340px;" placeholder="Podnaslov glave" size="20" />
																
																<fieldset data-ng-repeat="clan in choices.clanoviZ">
																	<label for="user_login" style="margin-top: 1%">Clan: </label>
																	<div style="border-top: 1px solid #333; border-bottom: 1px solid #333; width: 790px; padding: 1% 0 1% 0">
																		<input type="text" name="log" ng-model="clan.naziv" style="width: 790px" placeholder="Naslov Clana" size="20" />
																		<textarea  style="width: 790px; margin: 1% 0 0 0" ng-model="clan.opis" name="opis" placeholder="Opis"></textarea>
																	</div>
																</fieldset>
																
																<input type="text" name="log" ng-model="zavrsni.potpis" style="width: 790px;" placeholder="Potpis presenika" size="20" />
																<button class="button submit user-submit" ng-click="addNewClanZ()">Novi clan</button>
															</div>
														</div>
														
														
													</div>
												</div>
												
											</fieldset>
											<button class="button submit user-submit" ng-click="addNewChoice()">Novi propis</button>
										</div>
										
										<div class="bbp-submit-wrapper">

											<button type="submit" tabindex="104" name="user-submit" class="button submit user-submit" ng-click="addAct()">Sacuvaj</button>

										</div>
									</fieldset>
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PAGE CONTENT : end -->