<div id="page-content">
	<div class="c-content-box" style="width:950px;">
		<div class="page-content-inner">
			
			<div id="page-header">

				<!-- PAGE TITLE : begin -->
				<div class="page-title"><h1>Pregled svih <span ng-if="name == 'accept'">usvojenih</span> <span ng-if="name == 'proposed'">predlozenih</span> AKATA</h1></div>
				<!-- PAGE TITLE : end -->

			</div>
			
			<!-- PAGE CONTENT : begin -->
			<div id="page-content">


				<div class="c-content-box">
					<div class="page-content-inner">
						<table>
							<tbody>
								
								<tr ng-repeat="l in list">
									<td>
										
										<span style="color: #0000ff;"><a style="color: #0000ff;" href="#/read/{{l.docUrl}}">{{l.docTitle}}</a>
										</span> <span style="float: right">PDF | HTML | RDF </span>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>


			</div>
			<!-- PAGE CONTENT : end -->
		</div>
	</div>
</div>