<!-- PAGE CONTENT : begin -->
<div id="page-content">

	<div class="c-content-box" style="width:950px;">
		<div class="page-content-inner">
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div id="page-header">

									<!-- PAGE TITLE : begin -->
									<div class="page-title"><h1>Prikaz akta</h1></div>
									<!-- PAGE TITLE : end -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="c-content-box m-forced" ng-controller="AddActCtrl">
								
								
								
									<fieldset class="bbp-form">
									
										<div class="bbp-username">
											
											<div style="text-align: center;font-size: 34px; color: #565656; background-color: #f0f0f0;">
												<p id="user_login">{{list.naslov}}</p>
											</div>
											
										</div>
										
										<div class="bbp-username" style="margin: 2% 0 2% 0">
											<label for="user_login">Sluzbeni list: </label>
											<div style="border-top: 1px solid #333; height: 65px; padding: 1% 0 1% 3.9%">
												
												<div style="float: left; width: 200px; height: 67px; margin: 0 1% 0 0;">
													Broj lista:
													<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 198px; height: 43px;  padding: 5% 0 0 0">
														<p id="user_login">{{list.sluzbeniList.broj_lista}}</p>
													</div>
												</div>
												
												<div style="float: left; width: 200px; height: 67px; margin: 0 1% 0 0;">
													Cena:
													<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 198px; height: 43px;  padding: 5% 0 0 0">
														<p id="user_login">{{list.sluzbeniList.cena}}</p>
													</div>
												</div>
												
												<div style="float: left; width: 200px; height: 67px; margin: 0 1% 0 0;">
													Mesto:
													<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 198px; height: 43px;  padding: 5% 0 0 0">
														<p id="user_login">{{list.sluzbeniList.mestoDatum.mesto}}</p>
													</div>
												</div>
												
												<div style="float: left; width: 200px; height: 67px; margin: 0 1% 0 0;">
													Datum:
													<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 198px; height: 43px;  padding: 5% 0 0 0">
														<p id="user_login">{{list.sluzbeniList.mestoDatum.datum}}</p>
													</div>
												</div>
												
												
											</div>
										</div>
										<div id="choicesDisplay"></div>
										<fieldset ng-repeat="propis in list.propisi">
											<div class="bbp-username" style="float:left">
												<label for="user_login">Propis({{$index+1}}): </label>
												<div style="border-top: 1px solid #333; border-bottom: 1px solid #333; width: 890px; padding: 1% 0 1% 3.9%">
													
													<div style="float: left; width: 810px; height: 67px; margin: 0 1% 0 0;">
														Naziv propisa:
														<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 810px; height: 43px;  padding: 1% 0 0 0">
															<p id="user_login">{{propis.naziv_propisa}}</p>
														</div>
													</div>
													
													<div style="float: left; width: 810px; height: 67px; margin: 0 1% 0 0;">
														Preambula:
														<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 810px; height: 43px;  padding: 1% 0 0 0">
															<p id="user_login">{{propis.preambula}}</p>
														</div>
													</div>
													
													<!-- pocetak uvodnog dela -->
													<div style="margin: 20% 0 0 0" data-ng-repeat="uvodni in propis.uvodniDeo">
														<div data-ng-if="uvodni.glava[0].podaciGlave.naslovGlave">
														<label for="user_login" style="text-align: center;">Uvodni deo: </label>
														
														<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 2%">
															
															<fieldset data-ng-repeat="gl in uvodni.glava">
															
																<label for="user_login" style="margin-top: 2%; text-align: center;" >Glava {{$index+1}}: </label>
																<div style="border-bottom: 1px solid #333; border-top: 1px solid #333; width: 770px; margin: 1% 1% 0 0">
																	
																	<div style="float: left; width: 770px; height: 67px; margin: 0 1% 0 0;">
																		Naslov glave:
																		<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 770px; height: 43px;  padding: 1% 0 0 0">
																			<p id="user_login">{{gl.podaciGlave.naslovGlave}}</p>
																		</div>
																	</div>
																	
																	<div style="float: left; width: 770px; height: 67px; margin: 0 1% 0 0;">
																		Podnaslov glave:
																		<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 770px; height: 43px;  padding: 1% 0 0 0">
																			<p id="user_login">{{gl.podnaslovGlave}}</p>
																		</div>
																	</div>
																	
																
																	<div style="width: 720px; margin: 1% 0 1% 3%">
																	
																		<fieldset data-ng-repeat="cl in gl.clan">
																			<label for="user_login" style="margin-top: 1%; ">Clan {{$index+1}}: </label>
																			<div style=" padding: 1% 0 0 1%">
																				
																				<div style="float: left; width: 705px; height: 67px; margin: 0 1% 0 0;">
																					Naslov clana:
																					<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 705px; height: 43px;  padding: 1% 0 0 0">
																						<p id="user_login">{{cl.podaciClana.naslovClana}}</p>
																					</div>
																				</div>
																				Opis clana:
																				<textarea style="width: 705px; margin: 1% 0 0 0" ng-model="cl.opis" disabled></textarea>
																			</div>
																			
																			
																		</fieldset>
																		
																		
																	</div>
																
																</div>
																
																
																
															</fieldset>
														</div>
														</div>
													</div>	
													<!-- Kraj uvodnog dela -->
													
													<!-- Pocetak glavnog dela -->
													<div style="margin: 5% 0 0 0" data-ng-repeat="glavni in propis.glavniDeo">
														<div data-ng-if="glavni.glava[0].podaciGlave.naslovGlave">
														
														<label for="user_login" style="text-align: center;">Glavni deo: </label>
														
														<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 2%">
															
															<fieldset data-ng-repeat="gl in glavni.glava">
															
																<label for="user_login" style="margin-top: 2%; text-align: center;" >Glava {{$index+1}}: </label>
																<div style="border-bottom: 1px solid #333; border-top: 1px solid #333; width: 770px; margin: 1% 1% 0 0">
																	
																	<div style="float: left; width: 770px; height: 67px; margin: 0 1% 0 0;">
																		Naslov glave:
																		<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 770px; height: 43px;  padding: 1% 0 0 0">
																			<p id="user_login">{{gl.podaciGlave.naslovGlave}}</p>
																		</div>
																	</div>
																	
																	<div style="float: left; width: 770px; height: 67px; margin: 0 1% 0 0;">
																		Podnaslov glave:
																		<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 770px; height: 43px;  padding: 1% 0 0 0">
																			<p id="user_login">{{gl.podnaslovGlave}}</p>
																		</div>
																	</div>
																	
																
																	<div style="width: 720px; margin: 1% 0 1% 3%">
																	
																		<fieldset data-ng-repeat="cl in gl.clan">
																			<label for="user_login" style="margin-top: 1%; ">Clan {{$index+1}}: </label>
																			<div style=" padding: 1% 0 0 1%">
																				
																				<div style="float: left; width: 705px; height: 67px; margin: 0 1% 0 0;">
																					Naslov clana:
																					<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 705px; height: 43px;  padding: 1% 0 0 0">
																						<p id="user_login">{{cl.podaciClana.naslovClana}}</p>
																					</div>
																				</div>
																				Opis clana:
																				<textarea style="width: 705px; margin: 1% 0 0 0" ng-model="cl.opis" disabled></textarea>
																			</div>
																			
																			
																		</fieldset>
																		
																		
																	</div>
																
																</div>
																
															</fieldset>
														</div>
														</div>
													</div>
													<!-- Kraj glavnog dela -->
													
													
													<!-- Pocetak zavrsnog dela -->
													<div style="margin: 5% 0 0 0" data-ng-repeat="glavni in propis.zavrsniDeo">
														<div data-ng-if="glavni.glava[0].podaciGlave.naslovGlave">
														<label for="user_login" style="text-align: center;">Zavrsni deo: </label>
														
														<div style="border: 1px solid #333; width: 810px; padding: 1% 0 1% 2%">
															
															<fieldset data-ng-repeat="gl in glavni.glava">
															
																<label for="user_login" style="margin-top: 2%; text-align: center;" >Glava {{$index+1}}: </label>
																<div style="border-bottom: 1px solid #333; border-top: 1px solid #333; width: 770px; margin: 1% 1% 0 0">
																	
																	<div style="float: left; width: 770px; height: 67px; margin: 0 1% 0 0;">
																		Naslov glave:
																		<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 770px; height: 43px;  padding: 1% 0 0 0">
																			<p id="user_login">{{gl.podaciGlave.naslovGlave}}</p>
																		</div>
																	</div>
																	
																	<div style="float: left; width: 770px; height: 67px; margin: 0 1% 0 0;">
																		Podnaslov glave:
																		<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 770px; height: 43px;  padding: 1% 0 0 0">
																			<p id="user_login">{{gl.podnaslovGlave}}</p>
																		</div>
																	</div>
																	
																
																	<div style="width: 720px; margin: 1% 0 1% 3%">
																	
																		<fieldset data-ng-repeat="cl in gl.clan">
																			<label for="user_login" style="margin-top: 1%; ">Clan {{$index+1}}: </label>
																			<div style="padding: 1% 0 0 1%">
																				
																				<div style="float: left; width: 705px; height: 67px; margin: 0 1% 0 0;">
																					Naslov clana:
																					<div style="float: left; text-align: center; font-size: 16px; color: #565656; background-color: #f0f0f0; width: 705px; height: 43px;  padding: 1% 0 0 0">
																						<p id="user_login">{{cl.podaciClana.naslovClana}}</p>
																					</div>
																				</div>
																				Opis clana:
																				<textarea style="width: 705px; margin: 1% 0 0 0" ng-model="cl.opis" disabled></textarea>
																			</div>
																			
																			
																		</fieldset>
																		
																		
																	</div>
																
																</div>

	
															</fieldset>
														</div>
														</div>
													</div>
													
													<!-- Kraj zavrsnog dela -->
													
												</div>
											</div>
										</fieldset>
										
										<div ng-if="message" style="width: 100%; margin: 1% 0 1% 0; text-align: center; color: #004d00; background: #99ff99; font-size: 50px; padding: 1% ; height: 50px">
											Uspesno ste glasali za dati akt!
										</div>
										
										<div ng-if="vote" style="width: 100%; margin: 1% 0 1% 0; text-align: center; color: #004d00; background: #66c2ff; padding: 1% ; font-size: 30px; height: 70px">
											Opravo je za dati akt glasalo vise od 50% poslanik! Akt je <span style="color: #FFF">USVOJEN</span>!
										</div>
										
										<div ng-if="error" style="width: 100%; margin: 1% 0 1% 0; text-align: center; color: #004d00; background: #ffbf00; padding: 1% ; font-size: 30px; height: 50px">
											Vec ste glasali za dati akt!
										</div>
										
										<div class="bbp-submit-wrapper" ng-if="isLoggedIn()">

											<button type="submit" tabindex="104" name="user-submit" class="button submit user-submit" ng-click="acceptAct()">Glasati za</button> |<!-- <button type="submit" tabindex="104" name="user-submit" class="button submit user-submit" ng-click="againstAct()">Protiv</button> --> 

										</div>
									</fieldset>

							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PAGE CONTENT : end -->