<!-- PAGE CONTENT : begin -->
	<div id="page-content">


		<div class="c-content-box" style="width:950px;">
			<div class="page-content-inner">
				<div class="vc_row wpb_row vc_row-fluid">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div id="page-header">

										<!-- PAGE TITLE : begin -->
										<div class="page-title"><h1>Registrujte novog odbornika</h1></div>
										<!-- PAGE TITLE : end -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vc_row wpb_row vc_row-fluid">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="c-content-box m-forced">
									<h2>Ubacite njegove kredincijale</h2>
									
									<form method="post" action="#" class="bbp-login-form">
										<fieldset class="bbp-form">
											<legend>Korisnik</legend>

											
											<div class="bbp-username">
												<label for="user_login">Ime: </label>
												<input type="text" name="log" value="" size="20" id="user_login" tabindex="101" />
											</div>
											
											<div class="bbp-username">
												<label for="user_login">Prezime: </label>
												<input type="text" name="log" value="" size="20" id="user_login" tabindex="101" />
											</div>
											
											<div class="bbp-username">
												<label for="user_login">Email: </label>
												<input type="text" name="log" value="" size="20" id="user_login" tabindex="101" />
											</div>
											
											<div class="bbp-username">
												<label for="user_login">Korisnicko ime: </label>
												<input type="text" name="log" value="" size="20" id="user_login" tabindex="101" />
											</div>

											<div class="bbp-password">
												<label for="user_pass">Lozinka: </label>
												<input type="password" name="pwd" value="" size="20" id="user_pass" tabindex="102" />
											</div>


											<div class="bbp-submit-wrapper">

												<button type="submit" tabindex="104" name="user-submit" class="button submit user-submit">Registruj</button>

											</div>
										</fieldset>
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PAGE CONTENT : end -->